SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.mysql"
MYSQL_DB="CHANGE-ME"          # Nome do seu banco de dados MySQL
MYSQL_USER="CHANGE-ME"        # Seu usuário MySQL
MYSQL_PASSWORD="CHANGE-ME"    # Sua senha MySQL
MYSQL_HOST="localhost"        # Host do seu banco de dados, geralmente localhost
MYSQL_PORT="3306"             # Porta padrão do MySQL
